@import 'normalize.css';

:root {
    --primary-color: #fe2c55;
    --text-color: #333;
    --primary-boxshadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    --box-boxshadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    --tooltip-boxshadow: rgb(0 0 0 / 12%) 0 2px 12px;
    --font-family: 'SF', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    line-height: 1.5;
    font-size: 1.6rem;
    background-color: rgb(250, 250, 250);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    overflow-y: overlay;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

hr {
    width: 90%;
    margin: 0 auto;
    border: none;
    border-top: 1px solid #dddfe2;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

// SP pro
@font-face {
    font-family: SF;
    src: url('/assets/fonts/SF-Pro-Display-Black.otf');
    font-weight: 900;
}

// @font-face {
// 	font-family: SF;
// 	src: url('/assets/fonts/SF-Pro-Display-BlackItalic.otf');
// 	font-weight: 900;
// }

@font-face {
    font-family: SF;
    src: url('/assets/fonts/SF-Pro-Display-Bold.otf');
    font-weight: 700;
}

// @font-face {
// 	font-family: SF;
// 	src: url('/assets/fonts/SF-Pro-Display-BoldItalic.otf');
// 	font-weight: 700;
// }

@font-face {
    font-family: SF;
    src: url('/assets/fonts/SF-Pro-Display-Heavy.otf');
    font-weight: 900;
}

// @font-face {
// 	font-family: SF;
// 	src: url('/assets/fonts/SF-Pro-Display-HeavyItalic.otf');
// 	font-weight: 900;
// }

@font-face {
    font-family: SF;
    src: url('/assets/fonts/SF-Pro-Display-Light.otf');
    font-weight: 300;
}

// @font-face {
// 	font-family: SF;
// 	src: url('/assets/fonts/SF-Pro-Display-LightItalic.otf');
// 	font-weight: 300;
// }

@font-face {
    font-family: SF;
    src: url('/assets/fonts/SF-Pro-Display-Medium.otf');
    font-weight: 500;
}

// @font-face {
// 	font-family: SF;
// 	src: url('/assets/fonts/SF-Pro-Display-MediumItalic.otf');
// 	font-weight: 500;
// }

@font-face {
    font-family: SF;
    src: url('/assets/fonts/SF-Pro-Display-Regular.otf');
    font-weight: 400;
}

// @font-face {
// 	font-family: SF;
// 	src: url('/assets/fonts/SF-Pro-Display-RegularItalic.otf');
// 	font-weight: 400;
// }

@font-face {
    font-family: SF;
    src: url('/assets/fonts/SF-Pro-Display-Semibold.otf');
    font-weight: 600;
}

// @font-face {
// 	font-family: SF;
// 	src: url('/assets/fonts/SF-Pro-Display-SemiboldItalic.otf');
// 	font-weight: 600;
// }

@font-face {
    font-family: SF;
    src: url('/assets/fonts/SF-Pro-Display-Thin.otf');
    font-weight: 100;
}

// @font-face {
// 	font-family: SF;
// 	src: url('/assets/fonts/SF-Pro-Display-ThinItalic.otf');
// 	font-weight: 100;
// }

@font-face {
    font-family: SF;
    src: url('/assets/fonts/SF-Pro-Display-Ultralight.otf');
    font-weight: 200;
}

// Custom tippy
body {
    .tippy-box {
        border-radius: 8px;
        font-size: 1.6rem;
        line-height: 22px;
        background-color: rgba(84, 84, 84, 0.92);
        max-width: 500px !important;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
        top: -8px;
    }
}

body {
    .swiper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1 !important;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
    }

    .swiper-button-prev {
        font-size: 1rem !important;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 55%;
        width: 40px;
        height: 40px;
        background: #fff;
        border: 1px solid var(--primary-color);
        border-radius: 50%;
        color: var(--primary-color);
        font-weight: 700;
        outline: 0;
        transition: background-color 0.2s ease, color 0.2s ease;
        background-color: transparent;

        &::after {
            font-size: 16px;
        }

        &:hover {
            background-color: var(--primary-color);
            color: #fff;
        }
    }

    .swiper-button-prev {
        &:after {
            position: relative;
            left: -1px;
        }
    }

    .swiper-button-next {
        &:after {
            position: relative;
            left: 1px;
        }
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: 10px;
        right: auto;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: 10px;
        left: auto;
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
    }

    .swiper-pagination-bullet-active {
        background: var(--primary-color);
    }
}

body {
    .offcanvas-header {
        border-bottom: 1px solid rgba(22, 24, 35, 0.1);
    }

    .offcanvas-backdrop {
        z-index: 98 !important;
    }

    .offcanvas-title {
        font-size: 2rem;
        font-weight: 500;
        color: var(--primary-color);
    }

    .offcanvas {
        z-index: 99 !important;
    }

    .offcanvas.offcanvas-start {
        width: 35% !important;
        top: 60px !important;
    }

    .offcanvas-header .btn-close {
        border-radius: 50%;
        width: 28px;
        height: 28px;
        font-size: 1.3rem;
        &:hover {
            background-color: rgba(22, 24, 35, 0.2);
        }
    }
}
