.wrapper {
    .btn-click {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid var(--primary-color);
        font-size: 4rem;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
            rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

        div {
            color: linear-gradient(
                rgb(255, 143, 178) 0%,
                rgb(167, 151, 255) 50%,
                rgb(0, 229, 255) 100%
            );
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    .header {
        .title {
            font-size: 4rem;
        }
    }
}
