@import 'swiper/scss';
@import 'swiper/css/bundle';

.wrapper {
    width: inherit;

    .slider {
        width: 100%;
        height: 250px;
        border-radius: 25px;

        .swiper-content {
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            height: 100%;
            border-radius: 25px;
        }

        .swiper-slide {
            width: 100% !important;
        }
    }
}
